<a href="https://colab.research.google.com/github/Cristiancperez/Code_in_class/blob/main/Exam_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 Import

In [40]:
import pandas as pd
import numpy as np
import plotly.express as px

In [17]:
# Save the file path
p1 = '/content/ZF_Salidas.xlsx'

# Read file
d_excel = pd.read_excel(p1)

# Check
d_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   188 non-null    datetime64[ns]
 1   Agcsp   188 non-null    float64
 2   Emyc    188 non-null    float64
 3   IndMan  188 non-null    float64
 4   Otros   188 non-null    float64
 5   Total   188 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 8.9 KB

In [20]:
# Save the file path
p2 = '/content/ZF_Salidas.csv'

# Read file
d_csv = pd.read_csv(p2, sep = ';')

# Check
d_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   188 non-null    object
 1   Agcsp   188 non-null    float64
 2   Emyc    188 non-null    float64
 3   IndMan  188 non-null    float64
 4   Otros   188 non-null    float64
 5   Total   188 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.9+ KB

In [21]:
# Save the file path
p3 = '/content/ZF_Salidas.txt'

# Read file
d_txt = pd.read_csv(p3, sep = '\t')

# Check
d_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   188 non-null    object
 1   Agcsp   188 non-null    float64
 2   Emyc    188 non-null    float64
 3   IndMan  188 non-null    float64
 4   Otros   188 non-null    float64
 5   Total   188 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.9+ KB

## 2 Explore

### 2.1 Preview

In [24]:
# Preview 0
d_excel.shape

(188, 6)

In [27]:
# Preview 1
d_excel.head(12)

        Fecha     Agcsp     Emyc      IndMan       Otros       Total
0  2007-01-01  2515.306  271.660  213756.924  409243.734  625787.624
1  2007-02-01  1156.278   36.750  229758.801  433719.441  664671.270
2  2007-03-01  1581.381   42.899  276189.273  507531.563  785345.116
3  2007-04-01  2473.486   77.652  222443.846  370754.138  595749.122
4  2007-05-01  2592.131   49.932  322383.915  527418.627  852444.605
5  2007-06-01  3585.891   60.062  250409.027  432871.493  686926.473
6  2007-07-01  2416.415   50.234  301369.783  458991.604  762828.036
7  2007-08-01   953.405  101.749  314185.295  430282.975  745523.424
8  2007-09-01  2435.093  127.324  304432.355  533153.193  840147.965
9  2007-10-01   290.975   79.840  368181.986  511995.797  880548.598
10 2007-11-01  1513.019  758.712  278728.685  599291.778  880292.194
11 2007-12-01   556.979  757.150  436194.342  504278.272  941786.743

In [26]:
# Preview 2
d_excel.tail()

         Fecha      Agcsp       Emyc       IndMan       Otros        Total
183 2022-04-01  29588.848    624.006  2429927.727  633845.183  3093985.764
184 2022-05-01  14382.076   8478.194  2368894.038  707074.906  3098829.214
185 2022-06-01   9201.028   1075.107  2255284.415  595437.894  2860998.444
186 2022-07-01  15060.085  38856.786  2384398.595  503505.233  2941820.699
187 2022-08-01   9849.379   1478.112  2439290.194  515867.495  2966485.180

### 2.2 Add more info

In [36]:
# Extract the year
d_excel['Year'] = d_excel['Fecha'].dt.year

# Extract the Quarter
d_excel['Quarter'] = d_excel['Fecha'].dt.quarter

# Extract the Month
d_excel['Month'] = d_excel['Fecha'].dt.month

# Extract the week
d_excel['Week'] = d_excel['Fecha'].dt.week

# Extract the weekday
d_excel['Weekday'] = d_excel['Fecha'].dt.weekday

# Extract the Day
d_excel['Day'] = d_excel['Fecha'].dt.day

d_excel.head(15)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # This is added back by InteractiveShellApp.init_path()

,Fecha,Agcsp,Emyc,IndMan,Otros,Total,Year,Quarter,Month,Week,Weekday,Day
0,2007-01-01,2515.306,271.660,213756.924,409243.734,625787.624,2007,1,1,1,0,1
1,2007-02-01,1156.278,36.750,229758.801,433719.441,664671.270,2007,1,2,5,3,1
2,2007-03-01,1581.381,42.899,276189.273,507531.563,785345.116,2007,1,3,9,3,1
3,2007-04-01,2473.486,77.652,222443.846,370754.138,595749.122,2007,2,4,13,6,1
4,2007-05-01,2592.131,49.932,322383.915,527418.627,852444.605,2007,2,5,18,1,1
5,2007-06-01,3585.891,60.062,250409.027,432871.493,686926.473,2007,2,6,22,4,1
6,2007-07-01,2416.415,50.234,301369.783,458991.604,762828.036,2007,3,7,26,6,1
7,2007-08-01,953.405,101.749,314185.295,430282.975,745523.424,2007,3,8,31,2,1
8,2007-09-01,2435.093,127.324,304432.355,533153.193,840147.965,2007,3,9,35,5,1
9,2007-10-01,290.975,79.840,368181.986,511995.797,880548.598,2007,4,10,40,0,1
10,2007-11-01,1513.019,758.712,278728.685,599291.778,880292.194,2007,4,11,44,3,1
11,2007-12-01,556.979,757.150,436194.342,504278.272,941786.743,2007,4,12,48,5,1
12,2008-01-01,2895.692,158.641,311760.838,560526.201,875341.372,2008,1,1,1,1,1
13,2008-02-01,3241.035,1051.407,385050.307,516099.853,905442.602,2008,1,2,5,4,1
14,2008-03-01,836.017,797.983,375281.135,503875.320,880790.455,2008,1,3,9,5,1

### 2.3 Reindex

In [37]:
# Single Index


d_excel = d_excel.set_index('Fecha')
d_excel.head(15)

,Agcsp,Emyc,IndMan,Otros,Total,Year,Quarter,Month,Week,Weekday,Day
Fecha,,,,,,,,,,,
2007-01-01,2515.306,271.660,213756.924,409243.734,625787.624,2007,1,1,1,0,1
2007-02-01,1156.278,36.750,229758.801,433719.441,664671.270,2007,1,2,5,3,1
2007-03-01,1581.381,42.899,276189.273,507531.563,785345.116,2007,1,3,9,3,1
2007-04-01,2473.486,77.652,222443.846,370754.138,595749.122,2007,2,4,13,6,1
2007-05-01,2592.131,49.932,322383.915,527418.627,852444.605,2007,2,5,18,1,1
2007-06-01,3585.891,60.062,250409.027,432871.493,686926.473,2007,2,6,22,4,1
2007-07-01,2416.415,50.234,301369.783,458991.604,762828.036,2007,3,7,26,6,1
2007-08-01,953.405,101.749,314185.295,430282.975,745523.424,2007,3,8,31,2,1
2007-09-01,2435.093,127.324,304432.355,533153.193,840147.965,2007,3,9,35,5,1
2007-10-01,290.975,79.840,368181.986,511995.797,880548.598,2007,4,10,40,0,1
2007-11-01,1513.019,758.712,278728.685,599291.778,880292.194,2007,4,11,44,3,1
2007-12-01,556.979,757.150,436194.342,504278.272,941786.743,2007,4,12,48,5,1
2008-01-01,2895.692,158.641,311760.838,560526.201,875341.372,2008,1,1,1,1,1
2008-02-01,3241.035,1051.407,385050.307,516099.853,905442.602,2008,1,2,5,4,1
2008-03-01,836.017,797.983,375281.135,503875.320,880790.455,2008,1,3,9,5,1

In [39]:
# Multiple index
d_excel2 = d_excel
d_excel2 = d_excel.set_index(['Year','Quarter'], append = True )
d_excel2.head(15)

,,,Agcsp,Emyc,IndMan,Otros,Total,Month,Week,Weekday,Day
Fecha,Year,Quarter,,,,,,,,,
2007-01-01,2007,1,2515.306,271.660,213756.924,409243.734,625787.624,1,1,0,1
2007-02-01,2007,1,1156.278,36.750,229758.801,433719.441,664671.270,2,5,3,1
2007-03-01,2007,1,1581.381,42.899,276189.273,507531.563,785345.116,3,9,3,1
2007-04-01,2007,2,2473.486,77.652,222443.846,370754.138,595749.122,4,13,6,1
2007-05-01,2007,2,2592.131,49.932,322383.915,527418.627,852444.605,5,18,1,1
2007-06-01,2007,2,3585.891,60.062,250409.027,432871.493,686926.473,6,22,4,1
2007-07-01,2007,3,2416.415,50.234,301369.783,458991.604,762828.036,7,26,6,1
2007-08-01,2007,3,953.405,101.749,314185.295,430282.975,745523.424,8,31,2,1
2007-09-01,2007,3,2435.093,127.324,304432.355,533153.193,840147.965,9,35,5,1
2007-10-01,2007,4,290.975,79.840,368181.986,511995.797,880548.598,10,40,0,1
2007-11-01,2007,4,1513.019,758.712,278728.685,599291.778,880292.194,11,44,3,1
2007-12-01,2007,4,556.979,757.150,436194.342,504278.272,941786.743,12,48,5,1
2008-01-01,2008,1,2895.692,158.641,311760.838,560526.201,875341.372,1,1,1,1
2008-02-01,2008,1,3241.035,1051.407,385050.307,516099.853,905442.602,2,5,4,1
2008-03-01,2008,1,836.017,797.983,375281.135,503875.320,880790.455,3,9,5,1

### 2.4 Simple Graph

In [42]:
fig = px.line(d_excel[['Total','Otros','IndMan','Emyc','Agcsp']], title = 'Free Trade Zone Exits')
fig.show()